{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }}{% endblocktrans %}</h3>
<div id="field-{{ spec.field.name }}">
    <ul>
    {% for choice in choices %}
        <li>
            <label>
                <input type="checkbox"{% if choice.selected %} checked="checked"{% endif %}
                value="{{ choice.query_string }}"/> {{ choice.display }}
            </label>
        </li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    (function($){
        $('#field-{{ spec.field.name }} input[type=checkbox]').change(function(){
            let url = new URL(location.href);  // Not compatible with IE: https://developer.mozilla.org/en-US/docs/Web/API/URL/URL
            let filter = $(this).val().replace("?", "").split('&');
            // FIXME: not working with empty filter (All)
            for (const param of filter) {
                let param_split = param.split('=');
                if (param_split.length == 2) {
                    url.searchParams.set(param_split[0], decodeURIComponent(param_split[1]));
                }
            }
            location.href = url.href;
        });
    })(django.jQuery);
</script>
