{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }}{% endblocktrans %}</h3>
<div id="field-{{ spec.field.name }}">
    <ul>
    {% for choice in choices %}
        <li>
            <label>
                <input type="checkbox"{% if choice.selected %} checked="checked"{% endif %}
                       data-check-to-remove="{{ choice.check_to_remove }}"
                       value="{{ choice.query_string }}"/> {{ choice.display }}
            </label>
        </li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    (function($){
        $('#field-{{ spec.field.name }} input[type=checkbox]').change(function(){
            let url_params_regex = /(.*)\?(.*)/gi;
            let url_params_match = url_params_regex.exec(location.href);
            let check_to_remove = $(this).data('check-to-remove');
            let filter = $(this).val().replace("?", "").split('&').filter(n => n);

            // Split URL and GET parameters
            let base = location.href;
            let params = [];
            if(url_params_match) {
                base = url_params_match[1];
                params = url_params_match[2].split("&").filter(n => n);
            }

            // Convert GET parameters to a Map
            let params_dict = new Map();
            for (const param of params) {
                let param_split = param.split('=');
                params_dict.set(param_split[0], param_split[1]);
            }

            if (check_to_remove.length != 0 ) {
                // Remove GET parameter
                params_dict.delete(check_to_remove);
            } else {
                for (const param of filter) {
                    // Update GET parameter
                    let param_split = param.split('=');
                    params_dict.set(param_split[0], param_split[1]);
                }
            }

            // Convert GET parameter Map to string format
            join_params = Array.from(params_dict, x => x[0] + "=" + x[1])
            redirect_location =  base + "?" + join_params.join("&");

            location.href = redirect_location;
        });
    })(django.jQuery);
</script>
